
<style>
	*{ margin: 0;padding: 0; }
	li{ list-style: none; }
	.clear:after{ content:'';clear:both;display:block;overflow:hidden;height: 0px; }
	.clear{ -ms-zoom:1; }
	.box{ width:60%;margin: 0 auto; }
	.box>h2{ text-align: center;line-height: 50px;color:#333; }
	ul>li{ margin-bottom:30px;background: #eee; }
	ul>li>span{ float:left;line-height: 30px;font-size: 12px;
		padding: 0 10px; }
	ul>li>audio{ float:right; }
</style>

<div class="box">
	<h2>{{title}}</h2>
	<ul>
		<li ng-repeat="item in musicList" class="clear">
			<span>{{item.name}}</span>
			<audio controls="controls" height="100" width="100">
			  	<source ng-src="{{item.musicUrl}}" type="audio/mp3" />
			  	<source ng-src="{{item.musicUrl}}" type="audio/ogg" />
			</audio>
		</li>
	</ul>
</div>
