<style>
	*{ margin:0;padding:0; }
	li{ list-style: none; }
	.box{ width:90%;margin:0 auto; }
	.clear:after{ content:'';clear:both;display: block;overflow:hidden;height:0; }
	.clear{ -ms-zoom:1; }
	img{ width:200px;height:200px; }
	.box-left{ width:20%;float:left;margin-top:100px; }
	.box-right{ width:80%;float:right; }
	.box-right>li{ border:1px solid #eee;margin-top:10px; }
	.box-right>li>img{ float:left; }
	.box-right>li>span{ float:left;width:50%; }
</style>
<!-- <div>{{title}}</div> -->
<div class="box clear">
	<div class="box-left">
		<p>Search</p>
		<input type="text" ng-model="selectVal">
		<br><br>
		SortBy:
		<select name="" ng-model="str" ng-init="str='id'" >
			<option value="id">id</option>
			<option value="age">age</option>
			<option value="name">name</option>
			<option value="snippet">snippet</option>
		
		</select>
	</div>
	<ul class="box-right">
		<li class="clear" ng-repeat="item in myArr | orderBy:str | filter:selectVal">
			<img ng-src="{{item.imageUrl}}" alt="">
			<span><a href="#/phones/{{item.id}}">{{item.name}}</a></<span>
			<span>{{item.snippet}}</span>
		</li>

	</ul>
</div>