<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
	<style>
		span{ color:red;font-size: 12px; }
	</style>
</head>
<body>
	<form novalidate name="myForm">
		<label>
			手机号：<input type="text" name="num" ng-model="num" required ng-pattern='/^(1[^012][0-9]{9})$/'>
			<span ng-show="myForm.num.$error.pattern">*号码格式错误</span>
			<span ng-show="myForm.num.$dirty && myForm.num.$error.required">
				*必填项
			</span>
		</label>
		<br><br>
		<label>
			密&nbsp;码：<input type="password" name="pwd" ng-model="pwd" ng-minlength="6" ng-maxlength="14" required>
			<span ng-show="myForm.pwd.$error.minlength">*密码不能少于6位</span>
			<span ng-show="myForm.pwd.$error.maxlength">*密码不能超过14位</span>
			<span ng-show="myForm.pwd.$dirty && myForm.pwd.$error.required">
				*必填项
			</span>
		</label>
	</form>
</body>
</html>