<!DOCTYPE html>
<html ng-app="day03">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="contr1">
	<ul>
		<li ng-repeat="item in userArr">{{'姓名：'+item.name+'地点'+item.care}}</li>
	</ul>
	----------------分割线-----------------------<br>

	<input type="text" ng-model="sel">

	<select ng-model="str" ng-init="str='id'">
		<option value="id">id</option>
		<option value="name">name</option>
		<option value="care">care</option>
	</select>

	<ul>
	<!-- limitTo 限制显示数量 -->
		<li ng-repeat="user in userArr | orderBy:str | filter:sel | limitTo:3 ">
			{{user.name+','+user.care}}
		</li>
	</ul>

	----------------分割线-----------------------<br><br>
	<!-- 限制显示的数量 -->
	<!-- orderBy:"name" 根据name字段进行排序 -->
	<!-- orderBy:["name","care"]先根据care字段排序 -->
	<!-- orderBy:"name:true" -->
	<!-- orderBy:'字段名':true 倒序
		 orderBy:'字段名':false 正序  默认false	 -->
		
	<ul>
	<!-- 仅按照name排序 -->
		<li ng-repeat="user in userArr | orderBy:['name']">
			{{user.name+','+user.care}}
		</li>
	</ul>

	<ul>
	<!-- 按照name 和 care 排序 -->
		<li ng-repeat="user in userArr | orderBy:['name','care']">
			{{user.name+','+user.care}}
		</li>
	</ul>

	<script>
		var myapp = angular.module('day03',[]);

			myapp.controller('contr1',["$scope",function($scope){
			$scope.userArr = [
				{
					id:"02",
					name:"aaa",
					care:"shanghai"
				},
				
				{
					id:"01",
					name:"bbb",
					care:"shenzhen"
				},
				{
					id:"03",
					name:"ccc",
					care:"beijin"
				}
			];
		}]);

		// myapp.controller = ("contr1",["$scope",function($scope){
			
		// }]);
	</script>
</body>
</html>