<!DOCTYPE html>
<html ng-app="myapp" ng-controller="mycontroller">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="angular/angular.js"></script>
	<script src="app/app.js"></script>
	<script src="controller/controller.js"></script>
	<style>
		*{ margin: 0;padding: 0; }
		li{ list-style: none; }
		a{ text-decoration: none;color:#333; }
		.clear:after{ content:'';clear:both;display: none;overflow:hidden;height:0; }
		.clear{ -ms-zoom:1; }
		.nav{ height:30px;margin: 20px 20px;  }
		.nav>li{ float:left;border:1px solid #333;margin-right:5px;line-height: 30px;width:70px;text-align: center;background: #ccc; }
		.box{ margin: 20px 20px;border:1px solid black;width:30%; }
		.nav>li.active{ background-color: blue; }
	</style>

</head>
<body>
	<ul class="nav clear">
		<li ng-repeat="item in navItem" ng-click="show(item)" ng-class="{active:item==selectNav}">
			<a href="#">{{item}}</a>
		</li>
	</ul>

	<div class="box" ng-show="selectNav == '班级1'">
		<h3>{{'这是'+selectNav+'模块'}}</h3>
		<ul>
			<li>{{'姓名:'+info[0].name+'年龄:'+info[0].age+'职业:'+info[0].zhiye}}</li>
		</ul>
	</div>
	<div  class="box" ng-show="selectNav == '班级2'">
		<h3>{{'这是'+selectNav+'模块'}}</h3>
		<ul>
			<li>{{'姓名:'+info[1].name+'年龄:'+info[1].age+'职业:'+info[1].zhiye}}</li>
		</ul>
	</div>
	<div  class="box" ng-show="selectNav == '班级3'">
		<h3>{{'这是'+selectNav+'模块'}}</h3>
		<ul>
			<li>{{'姓名:'+info[2].name+'年龄:'+info[2].age+'职业:'+info[2].zhiye}}</li>
		</ul>
	</div>

</body>
</html>