<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="mycontr">
	<div ng-controller="contr1">
		{{test}}
	</div>
	
	<form novalidate name="myForm" ng-model="myForm" >
		<input type="text" name="username" ng-model="username" >

		<input type="password" name="password" ng-model="password">

		<button ng-click="changeFn()">点击提交</button>
	</form>
	<script>
		var myapp = angular.module('myapp',[]);

		myapp.controller('mycontr',['$scope','$timeout','$http',function($scope,$timeout,$http){
			$scope.changeFn = function(){
				console.log($scope.myForm);
				console.log($scope.myForm.username);
				console.log($scope.myForm.password);
			}

			$scope.username='aaa';
			$scope.password="111";

			// $http({
			// 	url:'',
			// 	data: {
			// 		username:,
			// 		password:,
			// 		phone:,
			// 	}
			// }).success(function(){});
		}]);

		myapp.controller('contr1',['$scope',function($scope){
			$scope.test="controller可以嵌套";
		}]);
	</script>
</body>
</html>