<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
	<style>
		span.active{ background-color: blue; }
	</style>
</head>
<body ng-controller="ngclassController">
	<div>
		<span ng-click="clickFn(0)" ng-class="{active:activeIndex==0}">首页</span>
		<span ng-click="clickFn(1)" ng-class="{active:activeIndex==1}">页面1</span>
		<span ng-click="clickFn(2)" ng-class="{active:activeIndex==2}">页面2</span>
	</div>

	<style>
		.col1{background-color: yellow;}
		.col2{background-color: pink;}
	</style>
	<ul>
		<li ng-repeat="arrEle in arr" ng-class-odd="{col1:true}" ng-class-even="{col2:true}">
			<span>{{arrEle}}</span>
		</li>
	</ul>

	<script>
		var app = angular.module('myapp',[]);
		app.controller('ngclassController',['$scope',function($scope){
			$scope.activeIndex = 0;

			$scope.clickFn = function(index){
				$scope.activeIndex = index;
			}

			$scope.arr = [0,1,2,3];
		}]);
	</script>
</body>
</html>