<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
</head>
<body>
	<style>
		span{ line-height: 30px;background: blue; }
		span.active{ background: red; }
	</style>
	<div ng-controller="mycontr">
		<span ng-click="clickFn(1)" ng-class="{active:showIndex==1}">11111</span>
		<span ng-click="clickFn(2)" ng-class="{active:showIndex==2}">22222</span>
		<span ng-click="clickFn(3)" ng-class="{active:showIndex==3}">33333</span>
		<div ng-switch="mySwitch">
			<div ng-switch-when="henan">显示河南</div>
			<div ng-switch-when="hainan">显示海南</div>
			<div ng-switch-when="hunan">显示湖南</div>
		</div>
	</div>
	<script>
		// ng-switch-when='' 后面的值是字符串
		var app = angular.module('myapp',[]);
		app.controller('mycontr',['$scope',function($scope){
			$scope.clickFn = function(index){
				$scope.showIndex = index;
				if(index==1){
					$scope.mySwitch = 'henan';
				}else if(index==2){
					$scope.mySwitch = 'hainan';
				}else if(index==3){
					$scope.mySwitch = 'hunan';
				}	
			}
		}]);
	</script>
</body>
</html>