<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="mycontroller">
	<!-- form及input标签 name ng-model 值保持一致 -->
	<!-- novalidate 去掉浏览器默认的表单验证 -->

	<!-- 修改过输入框myForm.username.$dirty -->
	<!-- 未修改过输入框myForm.username.$pristine -->

	<!-- 验证不通过的输入框 myForm.username.$invalid
		$error为空集合时，说明验证通过，$invalid值为false -->
	<!-- 验证通过的输入框 myForm.username.$valid
		验证条件都通过的时候，为true -->

	<!-- myForm.$valid 整个表单验证通过 -->

	<form name="myForm" ng-model="myForm" novalidate>
	<!-- 必填项验证requird -->
	<!-- 最小长度 ng-minlength -->
	<!-- 最大长度 ng-maxlength -->
	<!--  -->
		<input name="username" ng-model="username" type="text" name="" required>
		<span ng-show="myForm.username.$error">用户名是必填项</span>
		<p>{{myForm.username.$error}}</p>

		<input type="text" name="phone" ng-model="phone" ng-pattern="/[0-9]/" required>
		<div ng-show="myForm.phone.$error.required">手机号必填</div>
		<div ng-show="myForm.phone.$error.pattern">格式不正确</div>
		<p>{{myForm.phone.$error}}</p>

		<div ng-click="formValid()">按钮</div>
	</form>

	<script>
		var app = angular.module('myapp',[]);
		app.controller('mycontroller',['$scope','$http',function($scope,$http){
			$scope.formValid = function(){
				console.log("验证结果"+$scope.myForm.$valid);
			}
			
			// 登录验证
			// if( $scope.myForm.$valid ){
			// 		$http({
			// 			url: '',
			// 			type:'get',
			// 			data: {
			// 				username: $scope.username,
			// 				phone: $scope.phone
			// 			}
			// 		}).success(function(res){

			// 		})
			// 	}
		}])
	</script>
</body>
</html>