<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="bower_components/angular/angular.js"></script>
</head>
<body ng-controller="mycontroller">
	<ul>
	<!-- orderBy: 'name' 按照名字进行排序 -->
	<!-- orderBy: 'name':true 按照名字从大到小排序 -->
		<li ng-repeat="obj in dataArr | orderBy: 'num':true">
			<span>{{obj.type + ':' + obj.num+','+obj.suc}}</span>
		</li>
	</ul>
	<p>过滤</p>
	<input type="text" ng-model="filterBy">
	<!-- filter: 'adsj' 对当前对象里面所有的属性值进行过滤，只要存在符合条件的，就可以匹配出来。 -->
	<!-- filter: {status: 0} 指定需要匹配的字段范围 -->
	<!-- filter: 函数名 自定义过滤函数 -->
	<!-- filter.fnName = function(item){} -->
	<ul>
		<li ng-repeat="obj in dataArr | filter:filterByFn">
			<span>{{obj.type + ':' + obj.num+','+obj.suc}}</span>
		</li>
	</ul>

	<script>
		var app = angular.module('myapp',[]);
		app.controller('mycontroller',['$scope',function($scope){
			$scope.orderModel = 'suc';
			$scope.dataArr = [
				{
					'type': 'html5',
					'num': 123,
					'suc': 34
				},
				{
					'type': 'android',
					'num': 155,
					'suc': 45
				},
				{
					'type': 'ios',
					'num': 3434,
					'suc': 22
				}
			];

			$scope.filterByFn = function(item){
				console.log(item);
				// return item.type=='html5';
				return item.type == 'html5' && item.num==123;

				// 过滤对象的type值是否含有htm字段，如果有就显示
				// return item.type.indexOf('htm')>-1;
			}
		}]);
	</script>
</body>
</html>